.container {
  display: flex;
  flex-direction: row;
  background-color: gray;
  justify-content: center;
  align-items: center;
}
.quadrado_azul {
  background-color: blue;
  width: 50px;
  height: 50x;
  margin: 50px;
  padding: 50px;
 }
.quadrado_vermelho {
  background-color: red;
  width: 50px;
  height: 50x;
  margin: 50px;
  padding: 50px;
 } 
  .quadrado_amarelo {
  background-color: yellow;
  width: 50px;
  height: 50x;
  margin: 50px;
  padding: 50px;
}

